#text-1 {
    border: 2px red solid;
    border-radius: 10px;
    font-size: larger;
}

#text-2 {
    font-weight: bold;
    font-style: italic;
}



#text-3 {
    box-shadow:  2px 5px gray;
    background-color: black;
    color: white;
    font-family: monospace;
    
}